<!-- Hereda de el template main -->
{% extends 'main.html'%}  {# Herencia #}
<!--Hereda el bloque de cabecera manteniendo su contenido con la función super() y agregando el link a la hoja de estilo al final del mismo -->
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque bloque #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> {# Nuevo contenido del bloque #}
{% endblock %}

<!-- Comienza el bloque de contenido y define su contenido -->
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>{{subtitulo}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/330x250">
    </div>
    <div class="col-md-5">
      <p>{{texto}}</p>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
      {% for valor in lista %}
        <li class="list-group-item"> {{ valor }}</li>
      {% endfor %}
      </ul>
      <a href="#" class="btn btn-primary btn-block btn-lg">${{precio}}</a>
    </div>
  </div>
</div>
{% endblock %}
