<!-- Hereda de el template main -->
{% extends 'main.html' %}
<!-- Importa el archivo de macros -->
{% import 'macros.html' as macros %} {# Importar el macro #}
<!-- Comienza el bloque de contenido y define su contenido -->
{% block contenido %}
<div class="container">
  <div class="row">
  	<div class="col-md-12">
  		<h2>Productos</h2>
  	</div>
  </div>
  <div class="row">
    <!-- Recorre la lista de productos -->
  	{% for producto in productos %}
  	<div class="col-md-3">
    <!-- Llama a la función mostrar_producto pasando por atributo cada uno de los productos de la lista. La función devolverá código HTML con los valores específicos del producto -->
  	{{ macros.mostrar_producto(producto) }}  {# Llamar al macro #}
  	</div>
  	{% endfor %}
  </div>
</div>
{% endblock %}
